@import url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans/css/SpoqaHanSansNeo.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans;
}

/* 커스텀 스크롤바 스타일 */
@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox용 스크롤바 두께 설정 */
    scrollbar-color: #d1d5db transparent; /* Firefox: 스크롤 색상 및 트랙 투명 */

    &::-webkit-scrollbar {
      width: 6px; /* 스크롤바 너비 */
    }

    &::-webkit-scrollbar-track {
      background: transparent; /* 스크롤바 트랙 배경색 */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #7d7986;
      border-radius: 8px; /* 스크롤바 끝을 둥글게 */
      border: 2px solid transparent; /* 내부 여백으로 작아 보이게 */
      background-clip: padding-box; /* 내부 테두리 영역만 색상 유지 */
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #9ca3af; /* 호버 시 색상 변경 (gray-400) */
    }
  }
}
